In [64]:
class test_class():
    def func_1(self):
        print("test_class print")

In [65]:
x = test_class()
x.func_1()

test_class print

In [66]:
class Test_class_2 ():  
    def __init__(self, a_input, b_input):
        self.a = a_input
        self.b = b_input

test = Test_class_2("test", "1234")
test.a, test.b

('test', '1234')

In [67]:
test_2 = test_class_2("test2", "5678")
test_2.a, test_2.b

('test2', '5678')

In [68]:
test.a, test_2.a

('test', 'test2')

In [69]:
class test_class_3():
    name = "test"

    def __init__(self, phone):
        self.phone = phone

a = test_class_3("01012345678")
b = test_class_3("01098765432")
print(a.name)
print(b.name)
print(a.phone)
print(b.phone)
print(id(a))
print(id(b))

test
test
01012345678
01098765432
1742852231808
1742852231904

In [70]:
class test_class_4():
    _list = []

    def __init__(self, name):
        self.name = name

    def add_list(self, phone):
        self._list.append(phone)

c = test_class_4("test")
d = test_class_4("test2")
c.add_list("01012345678")
d.add_list("01098765432")
c._list

['01012345678', '01098765432']

> class를 사용하여 리스트를 추가했는데 c, d가 같은 리스트를 출력하게 된다. 이유는 무엇일까?
+ 위의 class에서 변수를 클래스 변수이기 때문에 모든 클래스에서 공유를 하게 된다. 
+ 그러면 _list 변수를 독립된 변수로 지정하려면 어느곳에 지정을 해야되는것인가

In [71]:
class test_class_4():

    def __init__(self, name):
        self.name = name
        self._list = []

    def add_list(self, phone):
        self._list.append(phone)

c = test_class_4("test")
d = test_class_4("test2")
c.add_list("01012345678")
d.add_list("01098765432")
c._list

['01012345678']

In [72]:
result = 0

def add(num):
    global result
    result += num
    return result

print(add(3))
print(add(4))

3
7

In [73]:
result1 = 0
result2 = 0

def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

3
7
3
10

#### class를 사용하지 않은 코드
    같은 작업을 하는 함수를 2개를 생성하여 코드를 실행
    전역변수의 값은 지정이 될때마다 값은 최근에 지정한 값으로 출력이 되기때문에
    다음과 같이 전역변수를 2개 만들어서 출력했다.

In [74]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

#### class를 사용한 코드 
    클래스를 하나 구현함으로써 반복적인 작업을 하는 경우 여러개의 전역 변수를 설정하는것이 아니라
    클래스 내의 클래스 변수를 선언하고 함수를 지정해줌으로써 
    반복적인 작업에서 코드를 간결하게 처리할수 있다.

In [75]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

q = FourCal(4, 5)
q.add()
q.mul()

20

In [76]:
class Morefour(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

w = Morefour(4,2)
w.pow()

16

In [77]:
w.add()

6

In [78]:
import math

 

class Animal:

    def __init__(self, age, height, color, xpos, ypos):

        self.age = age

        self.height = height

        self.color = color

        self.xposition = xpos

        self.yposition = ypos

        self.velocity = 0

 

    def sound(self):

        pass

 

class Horse(Animal):

    def __init__(self, age, height, color, xpos, ypos):

        Animal.__init__(self, age, height, color, xpos, ypos)

 

    def sound(self):

        print('Neigh')

 

    def run(self, xdistance, ydistance, time):

        self.xposition += xdistance

        self.yposition += ydistance

        total_distance = math.sqrt((xdistance + xdistance) * (ydistance + ydistance))

        self.velocity = total_distance/time

 

class Dog(Animal):

    def __init__(self, age, height, color, xpos, ypos):

        Animal.__init__(self, age, height, color, xpos, ypos)

 

    def sound(self):

        print('Bow-Wow')

 

if __name__ == '__main__':

    danbi = Horse(5, 160, 'brown', 0, 0)

    choco = Dog(10, 100, 'black', 50, 30)

    danbi.sound()

    choco.sound()

Neigh
Bow-Wow

In [79]:
for i in range(2,10,1):
    for j in range(1, 10, 1):
        print("%d X %d = "%(i,j), i*j)

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 =  10
2 X 6 =  12
2 X 7 =  14
2 X 8 =  16
2 X 9 =  18
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 =  12
3 X 5 =  15
3 X 6 =  18
3 X 7 =  21
3 X 8 =  24
3 X 9 =  27
4 X 1 =  4
4 X 2 =  8
4 X 3 =  12
4 X 4 =  16
4 X 5 =  20
4 X 6 =  24
4 X 7 =  28
4 X 8 =  32
4 X 9 =  36
5 X 1 =  5
5 X 2 =  10
5 X 3 =  15
5 X 4 =  20
5 X 5 =  25
5 X 6 =  30
5 X 7 =  35
5 X 8 =  40
5 X 9 =  45
6 X 1 =  6
6 X 2 =  12
6 X 3 =  18
6 X 4 =  24
6 X 5 =  30
6 X 6 =  36
6 X 7 =  42
6 X 8 =  48
6 X 9 =  54
7 X 1 =  7
7 X 2 =  14
7 X 3 =  21
7 X 4 =  28
7 X 5 =  35
7 X 6 =  42
7 X 7 =  49
7 X 8 =  56
7 X 9 =  63
8 X 1 =  8
8 X 2 =  16
8 X 3 =  24
8 X 4 =  32
8 X 5 =  40
8 X 6 =  48
8 X 7 =  56
8 X 8 =  64
8 X 9 =  72
9 X 1 =  9
9 X 2 =  18
9 X 3 =  27
9 X 4 =  36
9 X 5 =  45
9 X 6 =  54
9 X 7 =  63
9 X 8 =  72
9 X 9 =  81

In [80]:
def diffsum(a, b, c):
    sum = a * b + c
    sum_2 = a + b * c
    if sum > sum_2:
        result = sum - sum_2
    elif sum < sum_2:
        result = sum_2 - sum
    else:
        result = 0
    return result

# a = input("a의 값을 입력하시오")
# b = input("b의 값을 입력하시오")
# c = input("c의 값을 입력하시오")
a= 5
b = 2
c = 7

result = diffsum(a, b, c)
print(result)

2

In [84]:
import pandas as pd
test = pd.DataFrame([[1,2,3], [7,8,9], [4,5,6], [3, 5, 10]])
test

   0  1   2
0  1  2   3
1  7  8   9
2  4  5   6
3  3  5  10

In [85]:
test.columns = ['A', 'B', 'C']
test

   A  B   C
0  1  2   3
1  7  8   9
2  4  5   6
3  3  5  10

In [86]:
test['D'] = (test['C'] - test['C'].shift()).fillna(0)
test

   A  B   C    D
0  1  2   3  0.0
1  7  8   9  6.0
2  4  5   6 -3.0
3  3  5  10  4.0

In [87]:
test.sort_values('A', inplace=True)
test

   A  B   C    D
0  1  2   3  0.0
3  3  5  10  4.0
2  4  5   6 -3.0
1  7  8   9  6.0

In [88]:
test.reset_index(drop=True, inplace=True)
test

   A  B   C    D
0  1  2   3  0.0
1  3  5  10  4.0
2  4  5   6 -3.0
3  7  8   9  6.0

In [102]:
import numpy as np
test_2 = pd.DataFrame(np.random.random((5,5)))
test_2

          0         1         2         3         4
0  0.344361  0.891439  0.637726  0.216791  0.881645
1  0.161144  0.797749  0.792249  0.924185  0.094638
2  0.151539  0.557300  0.336594  0.853436  0.958012
3  0.386832  0.278911  0.466069  0.579798  0.954371
4  0.118524  0.620081  0.569894  0.294482  0.766046

In [103]:
test_2 = test_2.round(2)

In [104]:
test_2

      0     1     2     3     4
0  0.34  0.89  0.64  0.22  0.88
1  0.16  0.80  0.79  0.92  0.09
2  0.15  0.56  0.34  0.85  0.96
3  0.39  0.28  0.47  0.58  0.95
4  0.12  0.62  0.57  0.29  0.77

In [105]:
test_2[0] = test_2[0].astype(int)

In [106]:
test_2

   0     1     2     3     4
0  0  0.89  0.64  0.22  0.88
1  0  0.80  0.79  0.92  0.09
2  0  0.56  0.34  0.85  0.96
3  0  0.28  0.47  0.58  0.95
4  0  0.62  0.57  0.29  0.77

In [107]:
test_2[1] = test_2[1].round(0).astype(int)
test_2

   0  1     2     3     4
0  0  1  0.64  0.22  0.88
1  0  1  0.79  0.92  0.09
2  0  1  0.34  0.85  0.96
3  0  0  0.47  0.58  0.95
4  0  1  0.57  0.29  0.77

In [108]:
def change(x):
    if x > 0.5:
        return 1
    else:
        return 0

test_2[3] = test_2[3].apply(change)
test_2

   0  1     2  3     4
0  0  1  0.64  0  0.88
1  0  1  0.79  1  0.09
2  0  1  0.34  1  0.96
3  0  0  0.47  1  0.95
4  0  1  0.57  0  0.77

In [ ]:
lambda